<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>メニュー</title>
    <link href="css/menu.css" rel="stylesheet">
</head>
<body>
<div class="menu-form">
    <h1 style="text-align: center;">メニュー</h1>

    <ul class="main-menu">

        <li>
            <div class="sub-menu">
                <h1 class="img-label">マイページ</h1>
                <ul class="flex">
                    <li>
                        <a href="https://www.neumann.jp/product/musasi" class="menu-link">
                            <div class="link-box">
                                <img src="./images/myPage.png">
                                <h3 class="img-label">ユーザー<br>情報</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.neumann.jp/product/musasi" class="menu-link">
                            <div class="link-box">
                                <img src="./images/バツ.png">
                                <h3 class="img-label">あなたの<br>苦手分野</h3>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="flex">
                    <li>
                        <a href="https://www.neumann.jp/product/musasi" class="menu-link">
                            <div class="link-box">
                                <img src="./images/過去の試験結果.png">
                                <h3 class="img-label">過去の<br>試験結果</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.neumann.jp/product/musasi" class="menu-link">
                            <div class="link-box">
                                <img src="./images/気になった問題.png">
                                <h3 class="img-label">気になった<br>問題</h3>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li>
            <div class="sub-menu">
                <h1 class="img-label">問題集</h1>
                <ul class="flex">
                    <li>
                        <a href="https://www.neumann.jp/product/musasi" class="menu-link">
                            <div class="link-box">
                                <img src="./images/模擬試験.png">
                                <h3 class="img-label">模擬試験<br><br></h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="./select-q&a.html" class="menu-link">
                            <div class="link-box">
                                <img src="./images/一問一答.png">
                                <h3 class="img-label">一問一答<br><br></h3>
                            </div>
                        </a>
                    </li>
                </ul>

                <ul class="flex">
                    <li>
                        <a href="https://www.neumann.jp/product/musasi" class="menu-link">
                            <div class="link-box">
                                <img src="./images/バツ.png">
                                <h3 class="img-label">間違えた<br>問題</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.neumann.jp/product/musasi" class="menu-link">
                            <div class="link-box">
                                <img src="./images/気になった問題.png">
                                <h3 class="img-label">気になった<br>問題</h3>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <!-- <li>
            <div class="sub-menu">
                <h1 class="img-label">管理者</h1>
                <ul class="flex">
                    <li>
                        <a href="https://www.neumann.jp/product/musasi" class="menu-link">
                            <div class="link-box">
                                <img src="./images/管理.png">
                                <h3 class="img-label">ユーザー<br>管理</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.neumann.jp/product/musasi" class="menu-link">
                            <div class="link-box">
                                <img src="./images/管理.png">
                                <h3 class="img-label">問題管理<br><br></h3>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="flex">
                    <li>
                        <a href="https://www.neumann.jp/product/musasi" class="menu-link">
                            <div class="link-box">
                                <img src="./images/管理.png">
                                <h3 class="img-label">用語の<br>管理</h3>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </li> -->

        <li>
            <div class="sub-menu">
                <h1 class="img-label">その他</h1>
                <ul class="flex">
                    <li>
                        <a href="https://www.neumann.jp/product/musasi" class="menu-link">
                            <div class="link-box">
                                <img src="./images/workbook.png">
                                <h3 class="img-label">用語集<br><br></h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.neumann.jp/product/musasi" class="menu-link">
                            <div class="link-box">
                                <img src="./images/お問い合わせ.png">
                                <h3 class="img-label">お問い合わせ<br></h3>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

    </ul>
</div>
<script src="./js/menu.js"></script>
</body>
</html>