<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>メニュー</title>
    <link href="css/menu.css" rel="stylesheet">
</head>
<body>
<div class="header">
    <th:block th:insert="/common/header"></th:block>
</div>
<div class="menu-form">
    <h1 style="text-align: center;">メニュー</h1>

    <ul class="main-menu">

        <li>
            <div class="sub-menu">
                <h1 class="img-label">マイページ</h1>
                <ul class="flex">
                    <li>
                        <a href="/mypage"class="menu-link">
                            <div class="link-box">
                                <img src="./images/myPage.png">
                                <h3 class="img-label">ユーザー<br>情報</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/weakness" class="menu-link">
                            <div class="link-box">
                                <img src="./images/バツ.png">
                                <h3 class="img-label">あなたの<br>苦手分野</h3>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="flex">
                    <li>
                        <a href="/past-data" class="menu-link">
                            <div class="link-box">
                                <img src="./images/過去の試験結果.png">
                                <h3 class="img-label">過去の<br>試験結果</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/concern" class="menu-link">
                            <div class="link-box">
                                <img src="./images/気になった問題.png">
                                <h3 class="img-label">気になった<br>問題</h3>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li>
            <div class="sub-menu">
                <h1 class="img-label">問題集</h1>
                <ul class="flex">
                    <li>
                        <a href="/cation" class="menu-link">
                            <div class="link-box">
                                <img src="./images/模擬試験.png">
                                <h3 class="img-label">模擬試験<br><br></h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="quiz-select" class="menu-link">
                            <div class="link-box">
                                <img src="./images/一問一答.png">
                                <h3 class="img-label">一問一答<br><br></h3>
                            </div>
                        </a>
                    </li>
                </ul>

                <ul class="flex">
                    <li>
                        <a href="/quiz/999" class="menu-link">
                            <div class="link-box">
                                <img src="./images/バツ.png">
                                <h3 class="img-label">間違えた<br>問題</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/quiz/100" class="menu-link">
                            <div class="link-box">
                                <img src="./images/気になった問題.png">
                                <h3 class="img-label">気になった<br>問題</h3>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <!--jjiww-->
        <li th:if="${session.users.role==1}">
            <div class="sub-menu">
                <h1 class="img-label">管理者</h1>
                <ul class="flex">
                    <li>
                        <a href="/user-management" class="menu-link">
                            <div class="link-box">
                                <img src="./images/管理.png">
                                <h3 class="img-label">ユーザー<br>管理</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/quiz-management" class="menu-link">
                            <div class="link-box">
                                <img src="./images/管理.png">
                                <h3 class="img-label">問題管理<br><br></h3>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="flex">
                    <li>
                        <a href="/term" class="menu-link">
                            <div class="link-box">
                                <img src="./images/管理.png">
                                <h3 class="img-label">用語の<br>管理</h3>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li>
            <div class="sub-menu">
                <h1 class="img-label">その他</h1>
                <ul class="flex">
                    <li>
                        <a href="/word" class="menu-link">
                            <div class="link-box">
                                <img src="./images/workbook.png">
                                <h3 class="img-label">用語集<br><br></h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfKBGGI4wlmCOGXspAVj-orBJHZgLUpZvpgRRjj430z8euOWQ/viewform?usp=pp_url"
                           target="_blank" rel="noreferrer noopener"
                           class="menu-link">
                            <div class="link-box">
                                <img src="./images/お問い合わせ.png">
                                <h3 class="img-label">お問い合わせ<br></h3>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

    </ul>
</div>
</body>
</html>