<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>更新</title>
    <link href="/css/management.css" rel="stylesheet">
</head>
<body>
<div class="insert">
    <th:block th:insert="/common/header"></th:block>
    <h1>問題追加</h1>
    <hr>
    <div class="form-body">
        <form action="" method="post" th:object="${add}" enctype="multipart/form-data">
            <fieldset class="label-130">
                <div>
                    <label class="required">単元:</label> <select name="subject" id="subject" onchange="change()" th:field="${add.genre}">
                    <option value="1">運転者の心得</option>
                    <option value="2">信号に従うこと</option>
                    <option value="3">標識・標示などに従うこと</option>
                    <option value="4">車が通行するところ、してはいけないところ</option>
                    <option value="5">緊急自動車などの優先</option>
                    <option value="6">交差点などの通行、踏切</option>
                    <option value="7">安全な速度と車間距離</option>
                    <option value="8">歩行者の保護など</option>
                    <option value="9">安全の確認と合図、警音器の使用</option>
                    <option value="10">進路変更など</option>
                    <option value="11">追い越し</option>
                    <option value="12">行き違い</option>
                    <option value="13">運転免許制度、交通反則通告制度</option>
                    <option value="14">オートマチック車などの運転</option>
                    <option value="15">死角と運転</option>
                    <option value="16">適性検査結果に基づく行動分析</option>
                    <option value="17">人間の能力と運転</option>
                    <option value="18">車に働く自然の力と運転</option>
                    <option value="19">悪条件下での運転等</option>
                    <option value="20">特徴的な事故と自己の悲惨さ</option>
                    <option value="21">自動車の保守管理</option>
                    <option value="22">駐車と停車</option>
                    <option value="23">乗車と積載</option>
                    <option value="24">けん引</option>
                    <option value="25">交通事故の時</option>
                    <option value="26">自動車の所有者などの心得と保険制度</option>
                    <option value="27">経路の設計</option>
                    <option value="28">高速道路での運転</option>
                    <option value="29">二人乗り運手に関する知識</option>
                    <option value="30">危険予測ディスカッション</option>
                </select>
                </div>
                <div>
                    <label class="required">問題</label>
                    <textarea name="description"  class="base-text" th:field="${add.sentence}"></textarea>
                    <span class="error" th:each="error: ${#fields.errors('sentence')}">[[ ${error} ]]</span>
                </div>
                <div>
                    <label class="required" >解答</label>
                    <select name="answer" th:field="${add.answer}" id="answer">
                        <option value="000" class="option2">〇〇〇</option>
                        <option value="001" class="option2">〇〇×</option>
                        <option value="010" class="option2">〇×〇</option>
                        <option value="011" class="option2">〇××</option>
                        <option value="100" class="option2">×〇〇</option>
                        <option value="101" class="option2">×〇×</option>
                        <option value="110" class="option2">××〇</option>
                        <option value="111" class="option2">×××</option>
                        <option value="0" class="option1" selected>〇</option>
                        <option value="1" class="option1">×</option>
                    </select>
                </div>
                <div>
                    <label class="required">解説</label>
                    <textarea name="description"  class="base-text" th:field="${add.explain}"></textarea>
                    <span class="error" th:each="error: ${#fields.errors('explain')}">[[ ${error} ]]</span>
                </div>
                <div>
                    <label>画像</label>
                    <input type="file" name="file" th:field="${add.file}">
                </div>
                <div>
                    <label class="required">点数</label>
                    <select name="points" th:field="${add.score}">
                        <option id="point1" value="1">1点</option>
                        <option id="point2" value="2">2点</option>
                    </select>
                </div>
            </fieldset>
            <div class="btns">
                <button type="submit" class="basic-btn">追加</button>
                <input type="button" onclick="location.href='/quiz-management'" value="戻る" class="cancel-btn">
            </div>
        </form>
    </div>
</div>
<script th:inline="javascript">
    function change(){
        var option1 = document.getElementsByClassName("option1");
        var option2 = document.getElementsByClassName("option2");

        var point1 = document.getElementById("point1");
        var point2 = document.getElementById("point2");

        console.log(option2.length);

        if(subject.value == 30){
            console.log("選択肢追加");
            for(var i = 0; i < option2.length; i++){
                if(i < 2) option1[i].style.display = 'none';
                option2[i].style.display = 'block';
            }
            option2[0].selected = true;
            point1.style.display = 'none';
            point2.style.display = 'block';
            point2.selected = true;
        }else{
            for(var i = 0; i < option2.length; i++){
                console.log(i);
                if(i < 2) option1[i].style.display = 'block';
                option2[i].style.display = 'none';
            }
            option1[0].selected = true;
            point1.style.display = 'block';
            point1.selected = true;
            point2.style.display = 'none';
        }
    }

</script>
</body>
</html>