<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
    <title>一問一答（問題）</title>
    <link th:href="@{/css/quiz-ver2.css}" rel="stylesheet">
</head>
<body>
    <div class="q-header">
        <div class="genre-name">
            <h3>[[${genres.get(questions.get(qNum-1).genre_id-1).genre_name}]]</h3>
        </div>
        <div class="q-num">
            <h3>[[${qNum}]]/10問</h3>
        </div>
    </div>
    <div class="question">
        <h1>問題</h1>
        <p class="q-text">[[${questions.get(qNum-1).sentence}]]</p>
        <div class="q-img">
            <img th:if="${base64Data}!=null" th:src="${base64Data}" class="">
        </div>
    </div>
    <div class="answer">
        <input type="button" value="〇" name="〇" class="btn" id="circle" th:onclick="|location.href='../quiz-answer/__${gId}__/〇'|">
        <input type="button" value="×" name="×" class="btn" id="cross" th:onclick="|location.href='../quiz-answer/__${gId}__/×'|">
    </div>
    <!-- <div class="change-page">
        <button onclick="location.href='./select-quiz.html'" class="btn" id="link-btn">ジャンル選択へ</button>
    </div> -->
</body>
</html>
