<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>新規登録</title>
<link href="css/commons.css" rel="stylesheet">
</head>
<body class="login-body">
  <div class="header">
<!--    <h1 class="site_logo">免許学科試験対策システム</h1>-->
  </div>

  <div class="login-form">
    <h1>新規登録</h1>
    <p class="error">[[ ${error} ]]</p>


    <form action="/sign-up" method="post"  th:object="${signUp}">
      <fieldset>
        <div class="cp_iptxt">
           <div><label for="userId">ユーザー名</label></div>
          <input class="base-input" type="text" name="userId" id="userId" placeholder="ユーザー名" th:field="*{userId}">
          <div class="error" th:each="error : ${#fields.errors('userId')}"> [[ ${error} ]]</div>
        </div>

        <div>
             <div><label for="password">パスワード</label></div>
          <input class="base-input" type="password" name="password" id="password" placeholder="パスワード" th:field="*{password}">
          <div class="error" th:each="error : ${#fields.errors('password')}"> [[ ${error} ]]</div>
        </div>

        <div>
             <div><label for="password">パスワード(確認)</label></div>
          <input class="base-input" type="password" name="repassword" id="repassword" placeholder="パスワード(確認)" th:field="*{repassword}">
          <div class="error" th:each="error : ${#fields.errors('repassword')}"> [[ ${error} ]]</div>
        </div>
      </fieldset>
      <ul class="flex">
        <li><img src="./images/カエル.png" style="object-fit: cover; width: 110px; height: 120px;"></li>
        <li>
            <button id="login-btn" class="custom-btn" type="submit">
            新規登録
            </button>
        </li>
        <li><img src="./images/ウサギ.png" style="object-fit: cover; width: 110px; height: 120px;"></li>
      </ul>
    </form>
  </div>
</body>
</html>
