<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新規登録</title>
<link href="css/commons.css" rel="stylesheet">
</head>
<body class="login-body">
  <div class="header">
    <h1 class="site_logo">免許学科試験対策システム</h1>
  </div>

  <div class="login-form">
    <h1>登録完了しました</h1>

    <ul class="flex">
        <li><img src="./images/カエル.png" style="object-fit: cover; width: 110px; height: 120px;"></li>
        <li>
            <button id="login-btn" class="custom-btn" type="button" onclick="location.href='./index.html'">
            ログイン画面へ
            </button>
        </li>
        <li><img src="./images/ウサギ.png" style="object-fit: cover; width: 110px; height: 120px;"></li>
      </ul>
  </div>
</body>
</html>
