<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="term-detail.css">
</head>
<body>
<div class="title">
    <img src="/images/カエル.png" alt="蛙">
    <h1>
        用語集
    </h1>
    <img src="/images/ウサギ.png" alt="ウサギ">
</div>
<div class="search-container">
    <input type="text" name="keyword" size="25" placeholder="検索">
    <input type="submit" value="&#xf002">
</div>
<h2 class="term">
    用語
</h2>
<div class="fusen">
    <div class="fusen-1">
        <img th:if="${base64Data}!=null" th:src="${base64Data}"><br>
    </div>
    <div class="fusen-2">
        <input type="text" name="explain" readonly class="explain" th:value="${term.explain}">
    </div>
</div>
</body>
</html>