<!DOCTYPE html>
<!--用語管理画面　用語一覧-->
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>用語集管理</title>
    <link href="/css/termmanagement.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div id="app">
        <div class="header">
            <th:block th:insert="/common/header"></th:block>
        </div>
        <h1 class="site_logo">用語管理</h1>
        <hr>
        <div class="btn-area">
            <div class="btn"><a class="basic-btn regist" href="/termAddition">用語の追加</a></div>
        </div>
        <p>○○に成功</p>
        <form method="get" action="#" class="search-form" >
            <div class="search-container">
                <input type="text" name="keyword" size="25" placeholder="キーワード検索">
                <input type="submit" value="&#xf002">
            </div>
        </form>
        <table>
            <div class="caption"><p>検索結果：[[${termslist.size}]]件</p></div>
            <thead>
            <tr>
                <th>ID</th>
                <th>用語</th>
                <th>解説</th>
                <th>詳細</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="terms : ${termslist}">
                <td th:text="${terms.id}"></td>
                <td th:text="${terms.term_name}"></td>
                <td th:text ="${terms.explain}"></td>
                <td><a class="detail_btn" th:href="@{'terms/' + ${terms.id}}" >詳細</a></td>
            </tr>
        </table>
    </div>
<footer></footer>
</body>
</html>