<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>第[[${times}]]回模擬試験</title>
    <link href="../css/quiz.css" rel="stylesheet">
</head>
<body>
    <div th:each="testData : ${testData}">
        <div class="q-header">
            <div class="genre-name">
                <h3>ジャンル：[[${testData.genre}]]</h3>
            </div>
            <div class="q-num">
                <h3>[[${qNum}]]/10問</h3>
            </div>
        </div>
        <div class="question">
            <h1>問題</h1>
            <p class="q-text">登坂車線のある高速自動車国道では､大型貨物自動車は必ず登坂車線を通行しなければならない｡</p>
            <div class="q-img">
                <img src="../images/glossary.png">
            </div>
        </div>
        <div class="answer">
            <input type="button" value="〇" name="〇" class="btn" id="circle" th:onclick="|location.href='./__${gId}__/〇'|">
            <input type="button" value="×" name="×" class="btn" id="cross" th:onclick="|location.href='./__${gId}__/×'|">
        </div>
    </div>
<!-- <div class="change-page">
    <button onclick="location.href='./select-quiz.html'" class="btn" id="link-btn">ジャンル選択へ</button>
</div> -->
</body>
</html>
