.user_Infomation{
    margin: 90px 100px 50px 100px;
    text-align: center;
}
body{
  background-color:#f6f6f6
}
h1{
    background: #e7e7e7;/*背景色*/
    padding: 0.5em;/*文字まわり（上下左右）の余白*/
    border-left: solid 5px #828cff;/*左線*/
    border-bottom: solid 3px #d7d7d7;
    width: 17%;
    height: 100%;
}

.userid{
    font-size: 40px;
    margin: 100px -130px 40px 170px;
    /* background-color:rgb(219, 243, 253); */
}

.userdate{
    font-size: 40px;
    margin: 30px -40px 40px 170px;
    /* background-color:rgb(219, 243, 253); */
}
h3{
     background-color:rgb(208, 208, 208);
}

.lineup{
    display: flex;
    flex-direction: row;
}

.request{
    font-size: 40px;
    height: 120px;
    width: 600px;
    border-radius: 100px;
    display: block;
    margin: auto;
    background-color: #787daa;
    color: aliceblue;
}

a{
text-decoration: none;
}

.request:hover {
     background-color:#44475f;
  }

.box{
    border: 2px solid #000000;
    width: 1000px;
	height: 400px;
    margin: auto;
    border-top-left-radius: 50px 50px;
    border-top-right-radius: 50px 50px;
    border-bottom-left-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
}