.q-header{
    display: flex;
    width: fit-content;
    margin: auto;
}
.genre-name{
    margin: 25px;
}
.q-num{
    margin: 25px;
}

/* .question-area{
    display: flex;
    width: fit-content;
    margin: auto;
} */

.question{
    width: 600px;
    /* width: fit-content; */
    margin: auto;

    padding: 20px;
    /* padding-bottom: 100px; */
    background-color: ivory;

    /* border: solid 5px #555555;
    border-radius: 10px;
    padding: 10px; */
}
.q-text{
    font-weight: bold;
}
.q-img{
    margin: 5px;
    text-align: center;
}
img{
    object-fit: cover; 
    width: 128px; 
    height: 128px;
}

/* 解答欄 */
.answer{
    width: fit-content;
    margin: auto;
}
.btn{
    width: 100px;
    height: 50px;

    margin: 20px;

    font-size: 20px;
    font-weight: bold;
    color: white;

    border: none;
    border-radius: 10px;
}
#circle{
    background-color: red;
}
#cross{
    background-color: blue;
}
#cross:hover, #circle:hover, #link-btn:hover{
    background-color: lightgray;
}

/* ジャンル選択 */
.change-page{
    text-align: center;
}
#link-btn{
    background-color: orange;

    width: 200px;

    font-size: 20px;
}

label {
    margin-right: 5px; /* ボタン同士の間隔 */
}
label input {
    display: none; /* デフォルトのinputは非表示にする */
}
label span {
    color: #333; /* 文字色を黒に */
    font-size: 14px; /* 文字サイズを14pxに */
    border: 1px solid #333; /* 淵の線を指定 */
    border-radius: 20px; /* 角丸を入れて、左右が丸いボタンにする */
    padding: 5px 20px; /* 上下左右に余白をトル */
}
label input:checked + span {
    color: #FFF; /* 文字色を白に */
    background: #FBB; /* 背景色を薄い赤に */
    border: 1px solid #FBB; /* 淵の線を薄い赤に */
}