<link href="css/header.css" rel="stylesheet">

<div class="hwrapper">
<div class="header">
    <div class="header-btn">
        <a href="/menu">
            <img src="/images/logo4.png" alt="ヘッダー" width="320" height="180">
        </a>
    </div>
    <p class="user_name">[[${session.userId}]]さん、こんにちは</p>
    <form class="logout_form" action="logout.html" method="get">
        <input type="image" src="/images/logout.png" alt="ログアウト" width="280" height="170">
    </form>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>